# Indexing and selecting data

In [23]:
import pandas as pd

In [24]:
trains = pd.read_csv('train.csv',sep = '\t\t', delimiter = ';')
trains

  Train Departure time Arrival time            Route
0  111Л           9:50        16:13   Kharkiv - Lviv
1  145К          17:45        10:30    Kyiv - Izmail
2  867К           5:38         9:28  Kyiv - Vynitsya
3  734Л          17:35        23:29    Kyiv - Dnipro
4  136Л          21:40         9:58     Lviv - Odesa

In [25]:
trains.columns

Index(['Train', 'Departure time', 'Arrival time', 'Route'], dtype='object')

## Convert to datetime type

In [29]:
trains['Departure time'] = pd.to_datetime(trains['Departure time'], format = '%H:%M')
trains['Arrival time'] = pd.to_datetime(trains['Arrival time'])
trains

  Train      Departure time        Arrival time            Route
0  111Л 2020-04-07 09:50:00 2020-04-07 16:13:00   Kharkiv - Lviv
1  145К 2020-04-07 17:45:00 2020-04-07 10:30:00    Kyiv - Izmail
2  867К 2020-04-07 05:38:00 2020-04-07 09:28:00  Kyiv - Vynitsya
3  734Л 2020-04-07 17:35:00 2020-04-07 23:29:00    Kyiv - Dnipro
4  136Л 2020-04-07 21:40:00 2020-04-07 09:58:00     Lviv - Odesa

## Information about our dataframe

In [30]:
trains.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
Train             5 non-null object
Departure time    5 non-null datetime64[ns]
Arrival time      5 non-null datetime64[ns]
Route             5 non-null object
dtypes: datetime64[ns](2), object(2)
memory usage: 288.0+ bytes

In [35]:
trains['Frequency'] = ['everyday'] * 3 + [None] *2
trains

  Train      Departure time        Arrival time            Route Frequency
0  111Л 2020-04-07 09:50:00 2020-04-07 16:13:00   Kharkiv - Lviv  everyday
1  145К 2020-04-07 17:45:00 2020-04-07 10:30:00    Kyiv - Izmail  everyday
2  867К 2020-04-07 05:38:00 2020-04-07 09:28:00  Kyiv - Vynitsya  everyday
3  734Л 2020-04-07 17:35:00 2020-04-07 23:29:00    Kyiv - Dnipro      None
4  136Л 2020-04-07 21:40:00 2020-04-07 09:58:00     Lviv - Odesa      None

## None -> value

In [38]:
trains.fillna('twice a week', inplace = True)
trains

  Train      Departure time        Arrival time            Route     Frequency
0  111Л 2020-04-07 09:50:00 2020-04-07 16:13:00   Kharkiv - Lviv      everyday
1  145К 2020-04-07 17:45:00 2020-04-07 10:30:00    Kyiv - Izmail      everyday
2  867К 2020-04-07 05:38:00 2020-04-07 09:28:00  Kyiv - Vynitsya      everyday
3  734Л 2020-04-07 17:35:00 2020-04-07 23:29:00    Kyiv - Dnipro  twice a week
4  136Л 2020-04-07 21:40:00 2020-04-07 09:58:00     Lviv - Odesa  twice a week

In [40]:
trains.Route

0     Kharkiv - Lviv
1      Kyiv - Izmail
2    Kyiv - Vynitsya
3      Kyiv - Dnipro
4       Lviv - Odesa
Name: Route, dtype: object

In [41]:
trains[['Route']]

             Route
0   Kharkiv - Lviv
1    Kyiv - Izmail
2  Kyiv - Vynitsya
3    Kyiv - Dnipro
4     Lviv - Odesa

In [42]:
trains.head(2)

  Train      Departure time        Arrival time           Route Frequency
0  111Л 2020-04-07 09:50:00 2020-04-07 16:13:00  Kharkiv - Lviv  everyday
1  145К 2020-04-07 17:45:00 2020-04-07 10:30:00   Kyiv - Izmail  everyday

In [43]:
trains[:3]

  Train      Departure time        Arrival time            Route Frequency
0  111Л 2020-04-07 09:50:00 2020-04-07 16:13:00   Kharkiv - Lviv  everyday
1  145К 2020-04-07 17:45:00 2020-04-07 10:30:00    Kyiv - Izmail  everyday
2  867К 2020-04-07 05:38:00 2020-04-07 09:28:00  Kyiv - Vynitsya  everyday

In [44]:
trains.loc[[1,3,4], ['Train','Route']]

  Train          Route
1  145К  Kyiv - Izmail
3  734Л  Kyiv - Dnipro
4  136Л   Lviv - Odesa

In [45]:
trains.iloc[[1,3,4],[0,3]] ~# trains.ix

  Train          Route
1  145К  Kyiv - Izmail
3  734Л  Kyiv - Dnipro
4  136Л   Lviv - Odesa

In [49]:
trains[trains['Arrival time'] >= pd.datetime(2020,4,7,10,10)]

  Train      Departure time        Arrival time           Route     Frequency
0  111Л 2020-04-07 09:50:00 2020-04-07 16:13:00  Kharkiv - Lviv      everyday
1  145К 2020-04-07 17:45:00 2020-04-07 10:30:00   Kyiv - Izmail      everyday
3  734Л 2020-04-07 17:35:00 2020-04-07 23:29:00   Kyiv - Dnipro  twice a week

In [55]:
trains[(trains['Arrival time'] >= pd.datetime(2020,4,7,10,10)) & (trains.Train != '111Л')]

  Train      Departure time        Arrival time          Route     Frequency
1  145К 2020-04-07 17:45:00 2020-04-07 10:30:00  Kyiv - Izmail      everyday
3  734Л 2020-04-07 17:35:00 2020-04-07 23:29:00  Kyiv - Dnipro  twice a week