In [1]:
import pandas as pd

## Read  csv-file into DataFrame.

In [49]:
trains = pd.read_csv('train.csv', delimiter=';',sep='\t')
trains

  Train Departure time Arrival time            Route
0  111Л           9:50        16:13   Kharkiv - Lviv
1  145К          17:45        10:30    Kyiv - Izmail
2  867К           5:38         9:28  Kyiv - Vynitsya
3  734Л          17:35        23:29    Kyiv - Dnipro
4  136Л          21:40         9:58     Lviv - Odesa

## Get columns

In [50]:
trains.columns

Index(['Train', 'Departure time', 'Arrival time', 'Route'], dtype='object')

In [51]:
trains.shape

(5, 4)

## Create a new line to add to the dataframe

In [52]:
new_train = {'Departure time': '00:05','Arrival time': '4:40','Route': 'Odesa - Vinitsya'}

In [53]:
trains = trains.append(new_train,ignore_index = True)

In [54]:
trains

  Train Departure time Arrival time             Route
0  111Л           9:50        16:13    Kharkiv - Lviv
1  145К          17:45        10:30     Kyiv - Izmail
2  867К           5:38         9:28   Kyiv - Vynitsya
3  734Л          17:35        23:29     Kyiv - Dnipro
4  136Л          21:40         9:58      Lviv - Odesa
5   NaN          00:05         4:40  Odesa - Vinitsya

## Add new column

In [55]:
trains['Frequency'] = ['everyday'] * 3 + ['once a week'] * 3
trains

  Train Departure time Arrival time             Route    Frequency
0  111Л           9:50        16:13    Kharkiv - Lviv     everyday
1  145К          17:45        10:30     Kyiv - Izmail     everyday
2  867К           5:38         9:28   Kyiv - Vynitsya     everyday
3  734Л          17:35        23:29     Kyiv - Dnipro  once a week
4  136Л          21:40         9:58      Lviv - Odesa  once a week
5   NaN          00:05         4:40  Odesa - Vinitsya  once a week

## Delete line

In [56]:
trains.drop([5],axis = 0, inplace = True)
trains

  Train Departure time Arrival time            Route    Frequency
0  111Л           9:50        16:13   Kharkiv - Lviv     everyday
1  145К          17:45        10:30    Kyiv - Izmail     everyday
2  867К           5:38         9:28  Kyiv - Vynitsya     everyday
3  734Л          17:35        23:29    Kyiv - Dnipro  once a week
4  136Л          21:40         9:58     Lviv - Odesa  once a week

In [57]:
trains

  Train Departure time Arrival time            Route    Frequency
0  111Л           9:50        16:13   Kharkiv - Lviv     everyday
1  145К          17:45        10:30    Kyiv - Izmail     everyday
2  867К           5:38         9:28  Kyiv - Vynitsya     everyday
3  734Л          17:35        23:29    Kyiv - Dnipro  once a week
4  136Л          21:40         9:58     Lviv - Odesa  once a week

In [58]:
trains.columns

Index(['Train', 'Departure time', 'Arrival time', 'Route', 'Frequency'], dtype='object')

## Delete column

In [59]:
trains.drop('Frequency', axis = 1)

  Train Departure time Arrival time            Route
0  111Л           9:50        16:13   Kharkiv - Lviv
1  145К          17:45        10:30    Kyiv - Izmail
2  867К           5:38         9:28  Kyiv - Vynitsya
3  734Л          17:35        23:29    Kyiv - Dnipro
4  136Л          21:40         9:58     Lviv - Odesa

## Save data frame

In [62]:
trains.to_csv('pandas_tutorial_up.csv', index = None, sep = '\t', header = True)